<h1 class="text-center">Edit an Article</h1>

<%= render 'form' %>

<%= link_to '[ Cancel edit and return to listing ]', articles_path, class: 'row justify-content-center text-decoration-none text-center text-info' %>
