<h1 class="text-center mt-4">Listing all Articles</h1>
<% @articles.each do | article | %>
    <%= render partial: 'articles/article_card', locals: { article: article } %>
<% end %>
<p>
    <%= link_to 'Create a new article', new_article_path %>
</p>
