<h1 class="text-center">Create a new Article</h1>

<%= render 'form' %>

<%= link_to '[ Return to listing ]', articles_path, class: 'row justify-content-center text-decoration-none text-center text-info' %>
