<h2 class="text-center mt-4"><%= @article.title %></h2>

<%= render partial: 'articles/article_card', locals: { article: @article } %>

<%= link_to '[ Return to listing ]', articles_path, class: 'row justify-content-center text-decoration-none text-center text-info' %>
