<h1>Articles Profile</h1>

<%= render partial: 'articles/article_card', locals: { article: @article } %>

<%= link_to '[ Return to listing ]', articles_path, class: 'row justify-content-center text-decoration-none text-center text-info' %>
