<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to "AlphaBlog", root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class: "nav-link #{ get_active_page_class('home') }" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Articles", articles_path, class: "nav-link #{ get_active_page_class('articles') }" %>
                </li>
                <li class="nav-item">
                    <%= link_to "About", about_path, class: "nav-link #{ get_active_page_class('about') }" %>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
